video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}
 .Body-container{
    background: images('videos/background.mp4'
    ) center center/cover no-repeat; 
    height: 100vh;   
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-shadow: inset 0 0 0  grey;
    object-fit: contain;

} 
.Body-container > h1 {
    color: black;
    font-size:80px ;
    font-family: 'Courier New', Courier, monospace;
    position: center;

}
.Body-container > p {
    color:white;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: center;
    font-family: 'Courier New', Courier, monospace;
}
.Body--btn {
    margin-top: 32px;

}
.Body--btn .btn{
    margin-left: 6px;
}

@media screen and (max-width : 960px){
    .Body-container > h1{
        font-size: 70px;
        position: center;
    }

}
@media screen and (max-width : 768px){
    .Body-container > h1{
        font-size: 50px;
        position:center;
    }

  .Body-container > p{
      font-size: 30px;

}
 .btn-mobile {
     display: block;
     text-decoration: none;

 }

 

}
