 * {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}
 .home,
 .Reservation,
 .Menu
 .shop,
 .contact,
 .SignUp {
     display: flex;
     height: 90vh;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
    
 }

 .Reservation{
     /* background-image: ; */
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
     font-size: 100;


 }

.Menu {
    /* background-image: ; */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: white;
    font-size: 100;

} 

.shop{
    /* background-image: ; */
     background-position: center ;
     background-size: fill;
     background-repeat: no-repeat;
     color: white;
     font-size: 100;
}
.contact{
    /* background-image: ; */
     background-position: center;
     background-size: fill;
     background-repeat: no-repeat;
     color: white;
     font-size: 100;
}

